@import "tailwindcss";

/* Ajoutez votre bloc @keyframes ici */
@keyframes scroll-rtl {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-50%);
    }
}

/* Vous devez ensuite créer la classe d'animation manuellement */
.animate-scroll-rtl {
    animation: scroll-rtl 30s linear infinite;
}